body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background-color: #0b0b28;
  color: white;
}

.hero {
  text-align: center;
  padding-top: 80px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.btn-main {
  background-color: #4b32d8;
  color: white;
  border: none;
  padding: 14px 40px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-main:hover {
  background-color: #5d45ea;
}

